<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #375A7F!important;  color: #FFF!important;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ALL POSTES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li *ngFor="let categorie of categorieList" class="nav-item">
          <a class="nav-link active" href="post/{{categorie.id}}">{{categorie.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
