<div *ngFor="let post of postDetails" class="row">
  <div class="col-md-12"><h1>{{post.title.rendered}} </h1>
    <hr>
  </div>
  <div class="col-md-2" style="margin-top: 60px;"></div>
  <div class="col-md-8" style="text-align: center; margin-top: 60px;"><h3 [innerHTML]='post.excerpt.rendered'></h3>
    <hr>
  </div>
  <div class="col-md-2" style="margin-top: 10px;"></div>
  <div class="col-md-2" style="margin-top: 10px;"></div>

  <div class="col-md-4" style="margin-top: 10px;">
    Published {{post.date}}
  </div>
  <div class="col-md-2" style="margin-top: 20px;"></div>

  <div class="col-md-12" style="margin-top: 40px;text-align: center;color: #000000!important;"><h2>Comments</h2></div>


  <div *ngFor="let comm of commD" class="col-md-12" style="text-align:center;margin-top: 20px; ">
    <h6><u>{{comm.author_name}}</u></h6><br>
    <h6><u>{{comm.date}}</u></h6><br>
    <p [innerHTML]='comm.content.rendered'></p>
    <hr>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8" style="text-align: center; ">
        <form [formGroup] = "addcommForm">


          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control form-control-user"  id="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-user"  id="email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control form-control-user" rows="4" id="comment" formControlName="comment"></textarea>
          </div>
          <button class="btn btn-success" type="submit" (click)="onadd(post.id);" [disabled]="addcommForm.invalid">ADD</button>
        </form>
      </div>
      <div class="col-md-2" style=""></div>

    </div>
  </div>


</div>
