<!-- Page Wrapper -->
<body id="page-top">
<div id="wrapper">



  <div id="content-wrapper">
    <div id="content-wrapper " class="d-flex flex-column">


      <app-header> </app-header>


      <div class="container-fluid" style="margin-top: 20px !important;">

        <router-outlet></router-outlet>

      </div>
    </div>
    <footer class="sticky-footer bg-white">

    </footer>
  </div>
</div>
</body>


<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


