<div class="row" >
  <div *ngFor="let postD of postDetails" class="col-md-6">
    <div class="card mb-3">
      <a href="postdet/{{postD.id}}"><h3 class="card-header">{{postD.title.rendered}}</h3></a>
      <div class="card-body">
        <h6 class="card-subtitle text-muted" [innerHTML]='postD.content.rendered'></h6>
      </div>
      <div class="card-footer text-muted">
        {{postD.date}}
      </div>
    </div>
  </div>
</div>

