<div class="row">
  <div *ngFor="let post of postList" class="col-md-6">
    <div class="card mb-3">
      <a href="postdet/{{post.id}}"><h3 class="card-header" >{{post.title.rendered}}</h3></a>
      <div class="card-body">
        <h6 class="card-subtitle text-muted" [innerHTML]='post.content.rendered'></h6>
      </div>
      <div class="card-footer text-muted">
        {{post.date}}
      </div>
    </div>
  </div>
</div>

