#root {
  background-color: #f1f1f1;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.page-title {
  font-size: 36px;
  align-self: center;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}

.posts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border: 1px solid black;
  width: 40%;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.post-title {
  font-size: 36px;
  align-self: center;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}
